.wrapper {
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  padding-top: 0;
}

.header {
  text-align: center;
  font-size: 4em;
  margin-bottom: 30px;
  margin-top: 50px;
}

.date {
  font-size: 1.1em;
  margin-bottom: 10px;
}

@media (max-width: 769px) {
  .wrapper {
    margin-top: 0px;
  }
}
