.wrapper {
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 20px;
  margin-bottom: 200px;
}

.form {
  display: inline-block;
}

.formDiv {
  margin-bottom: 20px;
}

.header {
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 4em;
}
