.wrapper {
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 20px;

  margin-left: 40%;
  margin-right: 40%;
}

.form {
  display: inline-block;
}

.formDiv {
  margin-bottom: 20px;
}

.header {
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 4em;
  width: 400px;
  text-align: center;
}

@media (max-width: 769px) {
  .header {
    font-size: 2.5em;
    margin-bottom: 40px;
    width: 300px;
  }
  .wrapper {
    margin: 30px;
  }
}
