.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 50vh;
}

.left {
  align-self: center;
}

.left h1 {
  font-size: 4em;
}

.left p {
  font-size: 1em;
}

.right {
  position: relative;
}

.title {
  margin-top: 40px;
  text-align: center;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 769px) {
  .main {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    height: 80vh;
  }
  .left h1 {
    font-size: 2.5em;
    text-align: center;
  }
  .left p {
    text-align: center;
  }
  .right {
    height: 40vw;
    align-self: center;
  }
}
