.header {
  font-size: 4em;
  margin-bottom: 60px;
  margin-top: 30px;
}

.wrapper {
  text-align: center;
}

@media (max-width: 769px) {
  .header {
    font-size: 2.5em;
    margin-bottom: 40px;
  }
}
